body{
    margin :0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poiret One' , cursive;
    background-color: #231E2B ;    
    height: 100vh;
    
}
.container{
    width: 95%;
    display: inline-block;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 300px;
    

}
.clock{
   
    width: fit-content;
    margin: auto;
    padding: 10px;
    border: 2px solid white;
    border-radius: 20px ;
    color: #fff;
    
   
   background: rgba(0, 0, 0, 0.1);
   
    

}

.clock h1{
    display: inline-block;
    margin: 5px;
    transition: 0.5s ease;
}
.clock:hover{
    background-color: white;
    color:  #231E2B;
}